.movesList {
    .move-preview {
        text-align: left;
        width: 400px;
        margin-bottom: 20px;
        h1 {
            font-size: 1rem;
        }
        // .contact-info{

        h2 {
            font-size: .6rem;
            color: gray;
        }
        // }

        .transfer-info{
        h1{
            color: rgb(54, 185, 54);

        }
        }
    }
}
