.transferFund {
    margin-top: 20px;
    label{
        text-transform: uppercase;
        color: rgb(32, 32, 32);

    }
    // input{
    //     margin-top: 15px;
    //     margin-bottom: 30px;
    // }
}