.homePage {
    flex-wrap: wrap;
    padding: 0 20px;
    h1{
        margin: 20px
    }
    .contactBtn{
        margin: 50px 0;
        width: 150px;
        cursor: pointer;
        // height: 150px;
    }
}